


    <h1 class="title">Welcome To Burger-Town!</h1>
    
    <div class="main">
        <div class="left-div">
            <h2>To Munch:</h2>
            <div id="to_munch_list">
                <ul>
                    {{#each burgers}}
                        {{#unless dataValues.isMunched}}
                    <li>
                        <p>{{dataValues.name}}</p>
                        <button id="{{dataValues.id}}" class="munch_button">Munch!</button>
                    </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        
        <div class="right-div">
            <h2>Munched:</h2>
            <div id="munched_list">
                <ul>
                    {{#each burgers}}
                        {{#if dataValues.isMunched}}
                    <li>
                        <p>{{dataValues.name}}</p>
                        <button id="{{dataValues.id}}" class="poop_button">Pooop!</button>
                    </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="background">
        <form>
            <h2>Make a Burger: </h2><br>
            <input type="text" id="burger_form">
            <button type="button" id="add-button">Add!</button>
        </form>
    </div>

